<div>
    <div class="container">
        <div class="row" style="height: 100vh;">
            <div class="col-md-6 my-auto">
                <h3 style="font-weight:bold">Application process for an investment platform dedicated for Social Entrepreneurs called Wheel
                    For Change</h3>
                <p>
                    Wheel for change is an investment platform for Social Entrepreneurs where Potential investors
                    could find and invest in projects The case study zooms in one of the parts of this project
                    discussing about the design process for the application process for Social Entrepreneurs.
                </p>
                <a routerLink="/wheel-for-change" routerLinkActive="active">
                    <p>Read case study
                        <i class="fa fa-long-arrow-right" aria-hidden="true"></i></p>
                </a>
            </div>
            <div class="col-md-6 my-auto">
                <img src="../../assets/images/woc-2.png" class="img-fluid">
            </div>
        </div>
    </div>
</div>