<div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 my-auto" style="text-align: center;">
                <h3>Get In Touch</h3>
                <p>I'm up for a interesting project any day, So dial me up</p>
                <button type="button" class="btn btn-outline-primary">Say Hello!</button>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 my-auto" style="text-align: center;">
                <img src="../../assets/images/logo.png" width="25" height="25" alt="">
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</div>
