<section style="background-color: #F4F5F7; padding-top: 20px; padding-bottom: 20px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 my-auto" style="text-align: center;">
                <h3>Get In Touch</h3>
                <p style="font-size: 17px;color:#505F79;">
                    If you have a interesting project I can contribute to then you can hit me up at
                    <a href="mailto: saifilmomin4@gmail.com">saifilmomin4@gmail.com</a>
                </p>
                <img src="../../assets/images/logo.png" width="25" height="25" alt="">


            </div>
        </div>
    </div>
    <!-- <div class="container">
        <div class="row">
            <div class="col-md-12 my-auto" style="text-align: center;">
                <img src="../../assets/images/logo.png" width="25" height="25" alt="">
            </div>
        </div>
    </div> -->
</section>
<section style="background: black;color: white;font-size: 12px; text-align: right;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 p-2">
                Designed and Developed by Saifil Momin
            </div>
        </div>
    </div>
</section>