<div>
    <div class="container">
        <div class="row" style="height: 100vh;">
            <div class="col-md-7 my-auto">
                <h2>My Journey</h2>
                <p>
                    I started my career as a Web developer in a small startup of 3 people. There I got the
                    opportunity to work on a SaaS based product and met very amazing people.
                </p>
            </div>
        </div>
    </div>
</div>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="mb-0">
                    <i>
                        "You rarely come across standout talent like Saifil. He expertly
                        filled
                        the
                        role
                        of User Experience Design Intern at Impactrio for my company’s
                        "Impactraction,"
                        formerly "Wheel for Change" team. He, with other collaborators, took
                        the
                        idea of
                        the solution and designed, wire framed, created the MVP of the app.
                        Not
                        only
                        did
                        Saifil show initiative in building out our UI/UX architecture from
                        scratch,
                        but
                        he also played a huge role in bringing innovative features from a
                        design
                        perspective. He understood the framework of social innovation, did
                        in-depth
                        research, and provided effective solutions, especially on the
                        onboarding
                        process
                        of a social entrepreneur. All inall, Saifil is a rock star and any
                        organization
                        would be lucky to have him!"
                    </i>
                </p>
                <p class="quote-author">Ashraful Hasan</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="quote-text mb-0">
                    <i>
                        "Saifil is smart, creative and professional. He has helped shape the
                        BPM-D App
                        and
                        has played a crucial role in designing the user interface.
                        He is dedicated and a pleasure to work with. He has been helpful,
                        energetic
                        and
                        dedicated to all the work assigned to him and helped shaping the
                        BPM-D
                        India
                        team.
                        I will be happy to recommend saifil to any organisation that
                        appreciates
                        creativity and needs design thinkers.

                        Wish him all the best for his higher studies, I am sure he will do
                        well
                        in
                        his
                        career. "
                    </i>
                </p>
                <p class="quote-author">Rakesh Gusain</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="quote-text mb-0">
                    <i>
                        "Saifil is a great team player to work with. Brings Exciting and
                        Innovative
                        Ideas
                        constantly in the team to drive any project he's a part of. Has
                        quality
                        skills
                        in UI/UX with a good amount of experience in designing Web pages for
                        our
                        product. He's Smart and thinks at right pace in the right place. It
                        was
                        a
                        pleasure to work with him in all the projects we were in together"
                    </i>
                </p>
                <p class="quote-author">Rehban Khatri</p>
            </div>
        </div>
    </div>
</section>
  