<div style="background: #F3F4F7;">
    <section class="section">
        <div class="container my-5">
            <div class="row" style="margin-bottom: 20px;">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <img src="../../assets/images/woc-2.png" class="img-fluid">
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>

    </section>

    <section class="section">
        <div class="container">
            <div class="row" style="margin-bottom: 20px;">
                <div class="col-md-2"></div>
                <div class="col-md-8 my-auto">
                    <h1>
                        Wheel For Change
                    </h1>
                    <p>
                        Wheel for change was an investment platform for Social Entrepreneurs where Potential investors
                        could
                        find and invest in projects. The Client required a digital platform in which Social
                        entrepreneurs
                        could create their profiles for their projects and could be found by investors.
                    </p>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row pt-3 pb-3">
                <div class="col-md-3"></div>
                <div class="col-md-2">
                    <h5>Client</h5>
                    <p>Ashraful Hasan</p>
                </div>
                <div class="col-md-2">
                    <h5>My Role</h5>
                    <p>Product Designer</p>
                </div>
                <div class="col-md-2">
                    <h5>Duration</h5>
                    <p>3 months</p>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </section>

    <!-- <section class="my-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>Identifying Project Scope and Roles</h3>
                    <p>After some initial brainstorming we found that the platform needs to be divided into 3 parts post
                        the
                        research and different people can be accountable for each part. Based on this we divided to
                        project into
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h5>Marketing Website</h5>
                    <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                        ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                        dolores et ea
                    </p>
                </div>
                <div class="col-md-4">
                    <h5>Social Entrepreneurs</h5>
                    <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                        ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                        dolores et ea
                    </p>
                </div>
                <div class="col-md-4">
                    <h5>Investors</h5>
                    <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                        ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                        dolores et ea
                    </p>
                </div>
            </div>
        </div>
    </section> -->

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 narrow-container px-5 py-3">
                    <h3>Challenges</h3>
                    <p>
                        Social Entrepreneurs had to input in a lot of information through a form and forms can be long,
                        confusing, and time-consuming. This could affect the experience of the user and drive him away
                        from the platform.<b> The challenge here is to design a form that would be easy to understand
                            and
                            fill.</b>
                    </p>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </section>

    <!-- //https://www.wendyschorr.com/project-page-build-a-meal -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 narrow-container px-5 py-3">
                    <h4>User Research</h4>
                    <p>We interviewed 6 people to Understanding Social Entrepreneurs and their problems and based on
                        that determine a set of features to solve their problems</p>
                    <img src="../../assets/images/Persona1.PNG" style="height: auto; width: 100%;">
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 narrow-container px-5 py-3">
                    <img src="../../assets/images/persona2.PNG" style="height: auto; width: 100%;">
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 narrow-container px-5 py-3">
                    <p><b>Key Outcomes</b></p>
                    <ul>
                        <li>Manage my team and distribute tasks</li>
                        <li>Meet other entrepreneurs who believe in the same cause as I do</li>
                        <li>Connect with investors with the same
                            social values as myself</li>
                        <li>Spend less time doing paperwork</li>
                    </ul>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </section>



    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 narrow-container px-5 py-3">
                    <h3>User Flows</h3>
                    <img src="../../assets/images/userflow1.PNG" style="height: auto; width: 100%;">
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 narrow-container px-5 py-3">
                    <img src="../../assets/images/userflow2.PNG" style="height: auto; width: 100%;">
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 narrow-container px-5 py-3">
                    <h4>Tasks</h4>
                    <p>
                        With the help of user flows we identified various tasks a social entrprenuer would perform and
                        also differentiated which part of the journey will be free and which one should be paid.
                    </p>
                    <img src="../../assets/images/tasks.jpg" class="img-fluid">
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </section>


    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 narrow-container px-5 py-3">
                    <h3>Prototype</h3>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 narrow-container px-5 py-3">
                    <h5>Landing Page</h5>
                    <img src="../../assets/images/Project Splash page.png" class="img-fluid image-wrapper">
                    <h5>Project Details Page</h5>
                    <img src="../../assets/images/Create a project details.png" class="img-fluid image-wrapper">
                    <h5>Adding Team member Page</h5>
                    <img src="../../assets/images/Assign a team.png" class="img-fluid image-wrapper">
                    <h5>Project List Page</h5>
                    <img src="../../assets/images/Projects list.png" class="img-fluid image-wrapper">
                    <h5>Journey Page</h5>
                    <img src="../../assets/images/landing.png" class="img-fluid image-wrapper">
                    <h5>Application Page</h5>
                    <img src="../../assets/images/Application Q1.png" class="img-fluid image-wrapper">
                </div>
                <div class="col-md-2"></div>
            </div>

        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 narrow-container px-5 py-5 text-center">
                    <h4>Experience the full prototype by clicking below</h4>
                    <br>
                    <a target="_blank"
                        href="https://xd.adobe.com/view/593d9ed4-6e94-45a3-754f-838602755b1d-2f0c/?fullscreen">
                        <button type="button" class="btn btn-primary">View Prototype</button>
                    </a>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </section>

    <!-- <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <h3>Conclusion</h3>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </section> -->
</div>
<footer>
    <app-footer></app-footer>
</footer>