<div style="background: #F3F4F7;">
    <section class="section">
        <div class="container my-5">
            <div class="row" style="margin-bottom: 20px;">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <img src="../../assets/images/plato-cover-inside.png" class="img-fluid">
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>

    </section>

    <section class="section">
        <div class="container">
            <div class="row" style="margin-bottom: 20px;">
                <div class="col-md-2"></div>
                <div class="col-md-8 my-auto">
                    <h1>
                        Plato
                    </h1>
                    <p>
                        Plato is an web app that helps users find learning content and resources relevant to a specific
                        profession. It curates, recommends and provides links to already existing content such as
                        videos, articles, books etc. based on user preferences.
                    </p>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row pt-3 pb-3">
                <div class="col-md-3"></div>
                <div class="col-md-2">
                    <h5>Client</h5>
                    <p>Ashraful Hasan</p>
                </div>
                <div class="col-md-2">
                    <h5>My Role</h5>
                    <p>Product Designer</p>
                </div>
                <div class="col-md-2">
                    <h5>Duration</h5>
                    <p>3 months</p>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </section>



    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 narrow-container px-5 py-3">
                    <h3>The Problem</h3>
                    <p>
                        User had to input in a lot of information through a form and forms can be long and boring. This
                        could affect the
                        experience of the user and drive him away from the platform. The challenge here is to design a
                        form
                        which could
                        takes hours to fill(not at the same time).
                    </p>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </section>

    <!-- //https://www.wendyschorr.com/project-page-build-a-meal -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 narrow-container px-5 py-3">
                    <h3 style="color: #5E6C84;">Research</h3>
                    <h4>Persona</h4>
                    <p>We interviewed 6 people to Understanding Social Entrepreneurs and thier problems and based on
                        that determine set of
                        features to solve thier
                        problems</p>
                    <img src="../../assets/images/plato-persona-1.png" style="height: auto; width: 100%;">
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 narrow-container px-5 py-3">
                    <img src="../../assets/images/plato-persona-2.png" style="height: auto; width: 100%;">
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 narrow-container px-5 py-3">
                    <p><b>Key Outcomes</b></p>
                    <ul>
                        <li>I want to manage my team and distribute tasks</li>
                        <li>I want to meet other entrepreneurs who believe in the same cause as I do</li>
                        <li>I want to trust those who are investing in my business</li>
                        <li>I want to connect with investors with the same
                            social values as myself</li>
                        <li>I want to spend less time doing paperwork</li>
                        <li>I want to meet other entrepreneurs who believe in the same cause as I do</li>
                        <li>I get frustrated when I have to do repetitive work for different project applications</li>
                    </ul>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </section>




    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 narrow-container px-5 py-3">
                    <h3>User Journey Mapping</h3>
                    <img src="../../assets/images/User Journey Mapping.jpg" style="height: auto; width: 100%;">
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </section>


    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <h3>Wireframes</h3>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <h3>Prototype</h3>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 narrow-container px-5 py-3">
                    <img src="../../assets/images/plato1.png" class="img-fluid">
                    <img src="../../assets/images/plato2.png" class="img-fluid">
                    <img src="../../assets/images/plato3.png" class="img-fluid">
                    <img src="../../assets/images/plato4.png" class="img-fluid">
                    <img src="../../assets/images/plato5.png" class="img-fluid">
                    <img src="../../assets/images/plato6.png" class="img-fluid">
                    <img src="../../assets/images/plato7.png" class="img-fluid">
                    <img src="../../assets/images/plato8.png" class="img-fluid">
                    <img src="../../assets/images/plato9.png" class="img-fluid">
                    <img src="../../assets/images/plato10.png" class="img-fluid">
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <h3>Conclusion</h3>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </section>
</div>
<footer>
    <app-footer></app-footer>
</footer>