<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <h3 class="my-3">Agile Board</h3>
        </div>
        <div class="col-md-4" style="text-align: right;">
            <button class="btn btn-md demo-btn mr-2"><i class="fas fa-link mr-2"></i>Demo</button>
            <button class="btn btn-md git-btn"><i class="fab fa-github mr-2"></i>GitHub</button>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<div style="background-image: url(../../assets/images/agile-board/cover-image.png);" class="case-study-cover-img">

</div>

<section>
    <div class="container">
        <div class="row  my-5">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h5>Project Overview</h5>
                <p>
                    Wheel for change was an platform for Social Entrepreneurs where Potential investors
                    could
                    find and invest in projects. The Client required a digital platform in which Social
                    entrepreneurs
                    could create their profiles for their projects and could be found by investors.
                </p>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row my-5">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h3>Tech stack</h3>
                <div>
                    <i class="fab fa-react"></i>
                    <i class="fab fa-js"></i>
                    <i class="fab fa-css3"></i>
                    <i class="fab fa-html5"></i>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row  my-5">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h3>Resources</h3>

            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</section>

<app-project-list></app-project-list>