/* You can add global styles to this file, and also import other style files */

h1,h2,h3
    font-family: 'Raleway', sans-serif
    font-weight: bold

h4,h5,h6
    font-family: 'Raleway', sans-serif
    font-weight: 600

.header-custom
    position: sticky
    top: 0
    z-index: 100

.carousel-section
    background: #303030
    color: white
    padding-top: 30px
    padding-bottom: 30px

.footer-section
    background: #f3f4f7

/* Overriding bootstarp */

.navbar-nav .active>.nav-link
    font-weight: bold

.carousel-control-prev, .carousel-control-next
    width: 30px

.carousel-indicators
    bottom: -30px

.woc-cover-1
    background-size: cover
    background-image: url("/assets/images/woc-2.png")
    height: 100vh
    width: auto

.section
    padding-top: 10px
    padding-bottom: 10px

.quote-text
    color: #555

.quote-author
    color: #333
    font-weight: bold

.button-red
    border: 1px solid #e84118
    background: #FFEBEE
    color: #e84118
    padding: 5px 15px 5px 15px
    border-radius: 5px

.button-red:hover
    background: #e84118
    color: #FFEBEE

.narrow-container
    background: #ffffff
