/* You can add global styles to this file, and also import other style files */

h1,h2,h3,h4
    font-family: 'Merriweather', serif
    
.header-custom
    position: sticky
    top: 0
    z-index: 100

.quote-wrapper
    padding-left: 110px
    padding-right: 110px
    display: table


    & .quote-item
        display: table-cell
        vertical-align: middle

.carousel-section
    background: #303030
    color: white
    padding-top: 30px
    padding-bottom: 30px

.footer-section
    background: #f3f4f7

/* Overriding bootstarp */

.navbar-nav .active>.nav-link
    font-weight: bold

.carousel-control-prev, .carousel-control-next
    width: 30px

.carousel-indicators
    bottom: -30px

.woc-cover-1
    background-size: cover
    background-image: url("/assets/images/woc-2.png")
    height: 100vh
    width: auto

.section
    padding-top: 10px
    padding-bottom: 10px
