/* You can add global styles to this file, and also import other style files */

h1,h2,h3
    font-family: 'Lora', serif
    color: #172B4D

h4,h5,h6
    font-family: 'Lora', serif
    color: #172B4D

.header-custom
    position: sticky
    top: 0
    z-index: 100

.carousel-section
    background: #303030
    color: white
    padding-top: 30px
    padding-bottom: 30px

.footer-section
    background: #fff

/* Overriding bootstarp */

.navbar-nav .active>.nav-link
    font-weight: bold

.carousel-control-prev, .carousel-control-next
    width: 30px

.carousel-indicators
    bottom: -30px

.woc-cover-1
    background-size: cover
    background-image: url("/assets/images/woc-2.png")
    height: 100vh
    width: auto

.section
    padding-top: 10px
    padding-bottom: 10px

.quote-text
    color: #555

.quote-author
    color: #333
    font-weight: bold

.button-red
    border: 1px solid #e84118
    background: #FFEBEE
    color: #e84118
    padding: 5px 15px 5px 15px
    border-radius: 5px

.button-red:hover
    background: #e84118
    color: #FFEBEE

.narrow-container
    background: #ffffff

.home-icon-wrapper
    font-size: 25px
    padding: 5px

.image-wrapper
    box-shadow: 0px 0px 7px 0px #dadada
    margin-bottom: 20px

.lists
    padding-left: 0

.lists > li
    list-style: none

p
    font-family: 'Lato', sans-serif
    color: #42526E

p b
    color: #172B4D

.woc-pages
    background-image: url(/assets/images/woc-pages.png)
    width: 100vw
    height: 100vh
    background-position: center
    background-size: contain

.image-shadow
    box-shadow: 0px 0px 5px -1px #bdbdbd

.home-image-icon
    width: 150px
    height: 150px
    border-radius: 50%
    background-image: url(/assets/images/home-image-icon.jpg)
    background-size: cover
    background-position: bottom
    display: inline-block
