<section>
    <div class="container">
        <div class="row" style="height: 85vh;">
            <div class="col-md-2"></div>
            <div style="text-align: center;" class="col-md-8 my-auto">
                <div class="home-image-icon"></div>
                <h5>
                    Hello! I am Saifil
                </h5>
                <h2 style="font-weight: 400;">
                    A Web Developer and Designer based in Toronto
                </h2>
                <p style="font-size: 20px;color: #505F79;">
                    I believe in solving user problems by understanding their habits and patterns and integrating them
                    into my designs to create a seamless and effortless experience.
                </p>

            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</section>

<app-project-list></app-project-list>