<section style="background:black;color:#fafafa">
    <div class="container">
        <div class="row" style="">
            <div class="col-md-2"></div>
            <div class="col-md-4 my-auto">
                <h1 style="font-weight: 300;color: #ccc;">Hi! I am Saifil, <br>A UI/UX designer based in Toronto </h1>
                <!-- <button type="button" class="btn btn-primary">Learn about me</button> -->
            </div>
            <div class="col-md-4">
                <img src="../../assets/images/saifilcover.jpg" class="img-fluid">
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</section>

<app-project-list></app-project-list>